@model List<WebUI.Models.MenuLinkModels>
@{
    Layout = null;
}
<ul  id="menu">
     @foreach (var link in Model)
     {
         <li>
             @Html.RouteLink(link.Name, new
                 {
                     controller = link.Controller,
                     action = link.Action
                 },
                             new
                                 {
                                     @class = link.Name == ViewBag.SelectedCategory ? "selected" : null
                                 }) 
         </li>
     }
 </ul>