@model Domain.Code.Time.Month

@{
    ViewBag.Title = "MonthTotalStatistic";
}

<div id="Items">
    <p>Items</p>
    <table>
        @foreach (var item in Model.Statistic.GetEachCostItemStatistic())
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
</div>

<div id="Tags">
    <p>Tags</p>
    <table>
        @foreach (var item in Model.Statistic.GetEachTagStatistic())
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
</div>