@model Domain.Code.Time.Month
@section featured {
    <div>
        <p>@Model.Name</p>
        <p>@Model.MonthNumber</p> 
        @foreach (var day in Model.Days)
        {
            Html.RenderPartial("DayInDiv", day);
        }
    </div>
}