@using Domain.Code.General
@model Domain.Code.Time.Month

<div>
    <p>@Model.Name</p>
    <p>@Model.MonthNumber</p> 
    <table>
        @foreach (var day in Model.Days)
        {
            Html.RenderPartial("Day", day);
        }
    </table>
</div>