`@model Domain.Code.Time.Year
@section scripts
{
    <script type="text/javascript">
        $(document).ready(
            function() {
                for (var i = 1; i <= 12; i++) {
                    monthStatClick(i);
                }
            }
        );

        function monthStatClick(i) {
            var monthDivId = "#Month" + i;
            $(monthDivId).click(function() {
                window.location.href = '/Wallet/Month/@Model.Name/' + i;
            }
            );
        }
    </script>
}

@section featured {
    <div id="YearMain">
        <div>@Model.Name</div>
        <div id="MonthList">
            @{ var monthNumber = 0; }
            @for (int i = 0; i < 3; i++)
            {<div id="GrouptMonthStat">
                 @for (int j = 0; j < 4; j++)
                 {
                     monthNumber++;
                     var monthDivId = "Month" + monthNumber;
                     <div id="@monthDivId" style="display: inline-block;margin: 1em;padding: 0.5em" class="MonthStat">
                         @{
                             var currentMonth = Model.GetMonth(monthNumber);
                         }
                         @Html.Partial("MonthStatistic", currentMonth)
                     </div>
                 }
             </div>
            }
        </div>
        <div id="TotalYearSum">
            Total: @Model.Statistic.GetYearTotalSum()
        </div>
    </div>
}
